<form method='POST' class='text-center'>
  <div class='container-sm text-center me-2'>
    <div class="col-sx-3 p-5">
      <div class="text-center">
        <input type="email"
               name='email'
               class="form-control"
               id="exampleFormControlInput1"
               placeholder="Enter your E-Mail (eg. name@example.com)"
               required>
      </div>
    </div>
  </div>
  <div class="cta-cta">
    <button type='submit' class="button button-primary button-wide-mobile">Get early access</button>
  </div>
</form>
